{
"formfilename": "<#medialibrary_form_filename>",
"artist":       "<#medialibrary_artist>",
"filename":     "<#medialibrary_filename urlencoded=true>",
"filesize":     "<#medialibrary_filesize> MB",
"title":        "<#medialibrary_title>",
"album":        "<#medialibrary_album urlencoded=1>",
"length":       "<#medialibrary_songlengthmin>:<#medialibrary_songlengthsec>",
"track":        "<#medialibrary_tracknumber>",
"genre":        "<#medialibrary_genre>",
"year":         "<#medialibrary_year>",
"rating":       "<#medialibrary_rating>",
"playcount":    "<#medialibrary_playcount>"
},